* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.navbar {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 560px;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  border: 1px solid aquamarine;
  /* padding: 0.5px; */
}

.row {
  display: flex;
  /* border: 3px solid aquamarine; */
  flex: 1;
  max-width: 557px;
  min-width: 557px;
  gap: 1px;
  justify-content: center;
  /* align-items: center; */
}
.col {
  display: flex;
  flex: 1;
  background-color: white;
  margin: 0.5px;
}

.btn {
  padding: 8px;
  background-color: rgb(155, 154, 154);
  color: rgb(43, 41, 41);
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 14px;
}
